{% extends "base.html" %}

{% load thumbnail %}
{% load django_markdown  %}
{% load crispy_forms_tags %}

{% block title %}Note list{% endblock title %}

{% block content %}

<h1>Note list</h1>
<br/>
<div class="actions">
<a class="btn btn-info" href="{% url "note-create"   %}"> 
    Note create
</a>
</div>
<br/>

<div class="search-block">
<br/>

</div>


{% if not object_list %}
<p>
Nothing is found.
</p>
{% else %}

        <table class="table">
            <tr>
            </tr>

            {% for object in object_list %}
            <tr>
                <td>
{{object.text}}
                </td>
                <td>
<div class="actions">



    <a class="btn btn-primary" href="{% url "note-detail" object.pk %}">Note detail</a>













</div>                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="widget-footer bordered">
            {% include "paginator.html" %}
        </div>

{% endif %}

{% endblock content %}
