# Project-specific stuff
# folder to serve static files
assets
media
# file with secret information
simplefeed/settings/secret.py
redis/redis-stable.tar.gz
redis/redis-stable
redis/redis-stable/*


# General stuff
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

Virtualenv
.env
env

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

